// Make links inherit the body color and have no underline
a
	cursor pointer
	color inherit
	text-decoration none

// Border box everything
*, *:before, *:after
	box-sizing border-box

// Make images fill containers by default
img
	max-width 100%
	height auto

// Disable browser chrome on input elements
input, textarea, button, select
	appearance none
	background none
	border 1px solid
	color inherit

// Clear margins on headers
h1, h2, h3, h4, h5, h6, blockquote
	margin 0

// Antialias all text
*
	-webkit-font-smoothing antialiased;
	-moz-osx-font-smoothing grayscale;

// Remove borders on ifraems, which the reset isn't doing automatcially
iframe
	border none

// Collapse tables so no inherent gaps
table
	border-collapse collapse

/**
 * Boilerplace classes that add common functionality
 */

.clearfix
	clearfix()

.wysiwyg
	wysiwyg()

.text-left
	text-align left

.text-right
	text-align right

.text-center
	text-align center

// Remove the gap between audio, canvas, iframes, images, videos and the bottom
// of their containers:
// https://github.com/h5bp/html5-boilerplate/issues/440
audio,
canvas,
iframe,
img,
svg,
video
	vertical-align middle

// Allow only vertical resizing of textareas
textarea
	resize vertical

// Defaulting to a line-height of 1 cause it makes flex-box vertical centeirng
// look better
body
	line-height 1
