/**
 * Make something button-like
 */
button()

	// Buttons are usually inline-block
	display inline-block

	// Show pressable cursor
	cursor pointer

	// Disable focus outlining effects
	outline none

	// Don't make the label text selectable
	user-select none

	// Disable iphone on translucent black effect
	-webkit-tap-highlight-color: rgba(0,0,0,0);
