// Import type conversion library which is used both within this package and
// is useful within app code.  I am referncing the lib file explicitly because
// the package's `main` kept interceeding and trying to require js
@import '~stylus-type-utils/lib/type-utils/index.styl'

// Load stylus-easing package's vars
@import '~stylus-easing'

// Default vars
body-font-size ?= 16px
fluid-auto-min-size-factor ?= 0.7
fluid-default-max-break ?= 1440
fluid-default-min-break ?= 375

// Glob in all files in lib
@import 'lib/*'
