// Import type conversion library which is used both within this package and
// is useful within app code.  I am referncing the lib file explicitly because
// the package's `main` kept interceeding and trying to require js
@import '~stylus-type-utils/lib/type-utils/index.styl'

// Load stylus-easing package's vars
@import '~stylus-easing'

// Glob in all files in lib
@import 'lib/*'
