/**
 * Make something button-like
 */
button()

	// Buttons are usually inline-block
	display inline-block

	// Show pressable cursor
	cursor pointer

	// Disable focus outlining effects
	outline none

	// Don't make the label text selectable
	user-select none

	// Disable iphone on translucent black effect
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	// Disable double-tap to zoom
	touch-action manipulation

/**
 * Apply hovers only if Modernizr has identified the browser as non-touch.
 *
 * Ex:
 *   +hover(true)
 *     background black
 */
hover(includeActive = false)
	.no-touchevents &:hover
		{block}
	if includeActive
		+active()
			{block}

// Apply active to both touch and non-touch
active(addActiveSelector = true)
	.no-touchevents &:active,
	&:active
		{block}
	if addActiveSelector
		&.active
			{block}
