/**
 * Make something button-like
 */
button()

	// Buttons are usually inline-block
	display inline-block

	// Show pressable cursor
	cursor pointer

	// Don't make the label text selectable
	user-select none

	// Disable iphone on translucent black effect
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	// Disable double-tap to zoom
	touch-action manipulation

/**
 * Apply hovers only if Modernizr has identified the browser as non-touch.
 *
 * Ex:
 *   +hover(true)
 *     background black
 */
hover(includeActive = false)
	@media (hover: hover)
		&:hover
			{block}
	if includeActive
		+active()
			{block}

// Apply active to both touch and non-touch.
active(addActiveSelector = true)
	&:active
		{block}
	if addActiveSelector
		&.active
			{block}

/**
 * Hover Ancestor: Apply styles to an element when we hover one of its ancestors.
 * Ex:
 *   .card-title
 *     background grey
 *     +hover-ancestor(".card", true)
 *       background black
 */
hover-ancestor(ancestor, includeActive = false)
	if ancestor is undefined
		warn("hover-ancestor mixin requires an ancestor")
	@media (hover: hover)
		{ancestor}:hover &
			{block}
	if includeActive
		+active-ancestor(ancestor)
			{block}

// Apply active to both touch and non-touch
active-ancestor(ancestor, addActiveSelector = true)
	if ancestor is undefined
		warn("active-ancestor mixin requires an ancestor")
	{ancestor}:active &
		{block}
	if addActiveSelector
		{ancestor}.active &
			{block}
