/**
 * Make a border-radius based circle in CSS
 */
circle(size, color = null)
	rectangle(size, size, color, size/2)

/**
 * Make a square in CSS
 */
square(size, color = null, radius = null)
	rectangle(size, size, color, radius)

/**
 * Make a rectangle in CSS in one line
 */
rectangle(width, height, color = null, radius = null)
	width width
	height height
	if color
		background-color: color
	if radius
		border-radius radius
