/**
 * Make a border-radius based circle in CSS
 */
circle(size, color = null)
	rectangle(size, size, color, size/2)

/**
 * Make a square in CSS
 */
square(size, color = null, radius = null)
	rectangle(size, size, color, radius)

/**
 * Make a rectangle in CSS in one line
 */
rectangle(width, height, color = null, radius = null)
	width width
	height height
	if color
		background-color: color
	if radius
		border-radius radius

/**
 * Make a triangle
 *
 * Based on https://github.com/juice49/stylus-triangle
 */
triangle(width, height, color = #000, direction = 'top')

	// Base triangle styles
	width 0
	height 0
	background 0
	border-style solid

	// Styles for each direction
	directions = {
		top: {
			border-width: 0 (width * .5) height (width * .5),
			border-color: transparent transparent color transparent
		},
		topRight: {
			border-width: 0 width height 0,
			border-color: transparent color transparent transparent
		},
		right: {
			border-width: (height * .5) 0 (height *.5) width,
			border-color: transparent transparent transparent color
		},
		bottomRight: {
			border-width: 0 0 height width,
			border-color: transparent transparent color transparent
		},
		bottom: {
			border-width: height (width * .5) 0 (width * .5),
			border-color: color transparent transparent transparent
		},
		bottomLeft: {
			border-width: width 0 0 height,
			border-color: transparent transparent transparent color
		},
		left: {
			border-width: (height * .5) width (height * .5) 0,
			border-color: transparent color transparent transparent
		},
		topLeft: {
			border-width: height width 0 0,
			border-color: color transparent transparent transparent
		}
	}

	// Mixin styles for passed direction
	styles = directions[direction]
	{styles}

/**
 * Make the border of an triangle
 */
triangle-outline(size, color)
	square size
	border-bottom 1px solid color
	position relative
	h = math(size * size + size * .5 * size * .5, 'sqrt')
	angle = 26.56505117707799 // Hard coding Math.atan(0.5)*180/Math.PI
	&:before, &:after
		content ''
		position absolute
		display block
		width h
		bottom -1px
		border-bottom @border-bottom
	&:before
		left 0.5px
		transform-origin left
		transform rotate(angle - 90deg)
	&:after
		right 0.5px
		transform-origin right
		transform rotate(90deg - angle)
