/**
 * Enable GPU caching of elements, which can fix weird layout issues but can
 * lead to fuzziness in text and other fine lines
 */
gpu-cache()
	backface-visibility hidden
	transform translate3d(0,0,0)

/**
 * Clearfix using psuedo elements.
 * http://nicolasgallagher.com/micro-clearfix-hack/
 */
clearfix()
	&:after
		content ""
		display table
		clear both

/**
 * Return fluid arguments with default fallbacks and units stripped.
 * Used by fluid mixins (fluid-calc, fluid)
 */
get-fluid-args(max-size,
	min-size = null,
	max-break = null,
	min-break = null)

	// Use defaults
	if max-break == null
		max-break = fluid-default-max-break
	if min-break == null
		min-break = fluid-default-min-break
	if min-size == null
		min-size = max-size * fluid-auto-min-size-factor

	// Require proper units
	if unit(max-size) && unit(max-size)!='px'
		error("Fluid mixin: Unit '" + unit(max-size) + "' is not supported.  Max-size and min-size units must be 'px' or none.")

	// Strip units
	unless typeof(max-size) == 'call'
		max-size = unit(max-size, '')
	unless typeof(min-size) == 'call'
		min-size = unit(min-size, '')
	unless typeof(max-break) == 'call'
		max-break = unit(max-break, '')
	unless typeof(min-break) == 'call'
		min-break = unit(min-break, '')

	args = max-size, min-size, max-break, min-break
	return args

/**
 * Fluid Calc: Return a calc() expression that uses px and vw to
 * smoothly and linearly scale our value from max-size to min-size
 * as the viewport width changes from max-break to min-break.
 * Use this for CSS properties that have multiple values on 
 * one line, such as box-shadow, border-radius.
 *
 * Example:
 * box-shadow 0 0 fluid-calc(10, 2) primary-color
 */
fluid-calc(
	max-size,
	min-size=null,
	max-break=null, 
	min-break=null)

	// Apply defaults
	args = get-fluid-args(max-size, min-size, max-break, min-break)
	max-size = args[0]
	min-size = args[1]
	max-break = args[2]
	min-break = args[3]

	// Return the calc expression that sets a scaling value
	ratio = (max-size - min-size) / (max-break - min-break)
	base-size = unit(min-size - ratio * min-break, 'px')
	scaling-size = ratio * 100vw

	return 'calc(%s + %s)' % (base-size scaling-size)

/**
 * Fluid: Set a CSS property with a fluid-calc() on it.  Also add 
 * two @media queries that clamp the property to within the bounds of 
 * max-size and min-size.
 *
 * Example:
 *
 * .div
 *
 *   // Scales padding between 40px (desktop) and 20px (mobile, 375px)
 *   fluid padding, 40
 *
 *   // Scales font-size between 72px and 32px
 *   fluid font-size, 72, 32
 *
 *   // Scales margin-top from 60px down to 20px, stopping when the browser
 *   // reaches 768px wide
 *   fluid(margin-top, 60, 20, min-break: 768)
 */
fluid(property,
	max-size,
	min-size=null,
	max-break=null,
	min-break=null)

	// Apply defaults
	args = get-fluid-args(max-size, min-size, max-break, min-break)
	max-size = args[0]
	min-size = args[1]
	max-break = args[2]
	min-break = args[3]

	// Main fluid-calc which sets a fluid value between max-size and min-size
	{property} fluid-calc(max-size, min-size, max-break, min-break)

	// Cap it to min-size when small
	@media(max-width: unit(min-break, 'px'))
		{property} unit(min-size, 'px')

	// Cap it to max-size when large
	@media(min-width: unit(max-break, 'px'))
		{property} unit(max-size, 'px')

/**
 * Adjust the provided property across a range of created media queries.
 *
 * @param property property A CSS property
 * @param number max-value  The value of the property at the max-width
 * @param number min-value  The value of the property at the min-width
 * @oaram unit max-width    The first break will be 1px narrower than this width
 * @oaram unit min-width    The final max-width break will be at this size
 * @param integer steps     How many breakpoints to create in between
 */
mq-values(property, max-value, min-value, max-width = 1400px, min-width = 500px, steps = 6)

	// Set intial value, essentially the widest browser setting
	{property} max-value

	// Loop through the range
	for i in 0...steps

		// If the first step, make the break 1 less that the max-width.  This makes
		// this function's API easier to understand, it makes it so the max-value
		// is available at the max-width but then the first break immediately follows.
		break = max-width - floor((max-width - min-width) * i / (steps - 1))
		if i == 0
			break -= 1px

		// Set the media query and value
		@media (max-width: break)
			{property} max-value - ((max-value - min-value) * (i + 1) / steps)


/**
 * Use vws for the unit of a prop until the break is reached
 *
 * @param prop property   A CSS property (without quotes)
 * @param number size     The vw value as a number
 * @param break unit(px)  The min-width breakpoint to switch to pixe;s
 */
vw-until(prop, size, break = max-w)
	size = unit(size, '')
	{prop} unit(size, vw)
	@media(min-width break)
		{prop} break * (size / 100)

/**
 * Media query helpers. Up is inclusive of the breakpoint, down is 1px less
 * than it
 */
mobile-down()
	@media(max-width mobile - 1px)
		{block}
mobile-up()
	@media(min-width mobile)
		{block}
tablet-down()
	@media(max-width tablet - 1px)
		{block}
tablet-up()
	@media(min-width tablet)
		{block}
tablet-landscape-down()
	@media(max-width tablet-landscape - 1px)
		{block}
tablet-landscape-up()
	@media(min-width tablet-landscape)
		{block}
desktop-down()
	@media(max-width desktop - 1px)
		{block}
desktop-up()
	@media(min-width desktop)
		{block}
