/**
 * Enable GPU caching of elements, which can fix weird layout issues but can
 * lead to fuzziness in text and other fine lines
 */
gpu-cache()
	backface-visibility hidden
	translate3d 0,0,0

/**
 * Clearfix using psuedo elements.
 * http://nicolasgallagher.com/micro-clearfix-hack/
 */
clearfix()
	content ""
	display table
	clear both
